body {
    background-color:       rgb(245, 245, 220);
    font-family:            Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color:                  rgb(20, 20, 20);
}

a:hover {
    color:                  rgb(80, 80, 80);
}